/**********************************************
*** GENERAL
**********************************************/


.header {
    background-color: aqua;
    text.align: center;
    padding: 20px;
}


@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

#id03 {  /*footer*/
    background-color: aqua;
    text.align: center;
    padding: 10px;
}

/**********************************************
*** Food Drink or Excercise
**********************************************/

/*  do the layout*/
#graphFood {
    column: 2;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    color: blue;
}

#graphDrink {
    column: 3;  
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    color: blue;
}

#graphExcercise {
    column: 4;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    color: blue;
}

#graphLogin {
    column: 5;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    color: black;
}

.column {
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
}

#form0, #form1, #form2, #form3 {   /* organise so the forms stay in one column*/
    column: 1;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    color: black;
}