 /**********************************************
*** Header
**********************************************/

/*div.col-3 {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    column-count:3;
    column-gap:10px;
}*/

 
/**********************************************
*** Food Drink or Excercise
**********************************************/

#graphExcercise, #graphDrink, #graphFood {
    font-size: 14px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    color: blue;
    height: 400px;
    background-color: whitesmoke;
    border: 2px solid gray;
    border-radius: 5px;
}

/**********************************************
*** Log in
**********************************************/

#login {
    border-radius: 5px;
    font-size: 15px;
    height: 400px;
    bottom: inherit;
    border: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    color: black;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
}

#register {
    border-radius: 5px;
    font-size: 15px;
    bottom: inherit;
    border: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    color: black;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow: 
}

/**********************************************
*** Forms
**********************************************/

#form1, #form2, #form3 {   /* organise so the forms stay in one column*/
    font-size: 20px;
    padding: 1em;
    overflow: hidden;
    color: black;
    border-radius: 5px;
}

#excercise, #duration, #intensity, #hugh, #outside, #drink, #volume, #alcohol, #food, #amount, #cooking {
    font-size: 12px;
    padding: 1em;
    overflow: hidden;
    color: black;
    border-radius: 5px;
} 

input[type='radio'], #form0 {
    font-size: 20px;
    padding: 1em;
    margin: 10px;
    color: black;
    vertical-align: middle;
    display: table-cell;
}

input[type='submit'] {
    border-radius: 5px;
}

/**********************************************
*** Footer Water Value
**********************************************/

#id003 {
    font-size: 22px;
    text-align: justify;
}

#id03 {  
    background-color: lightblue;
    padding: 10px;
    height: 100px; 
    width:100%;
    position: fixed;
    left: 0;
    bottom: 0; 
}